#main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    /* border: 1px solid; */
    text-align: center;
}
#main>div{
    /* border: 1px solid red; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#main>div>img{
    width: 100%;
    height: 100px;
}